body {
    margin: 0;
    overflow-x: hidden;
}
header {
    display: block;
    height: 7vh;
    text-align: center;
}
footer {
    display: block;
    height: 5vh;
}
nav, header {
    font-family: "DejaVu Sans";
}
nav {
    font-size: 22px;
    height: 7vh;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }

    li {
        float: left;
    }

    li button {
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
        color: inherit;
        font: inherit;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
    }
}