.playground {
    border-top: 1px solid black;
    margin-bottom: 10px;
}
.playground-main {
    display: flex;
    justify-content: stretch;
    width: 100vw;
}
.playground-header {
    .Stars {
        font-size: 50px;
    }
}
.playground {
    a {
        text-decoration: inherit;
        color: inherit;
    }
    a:hover {
        font-weight: bolder;
    }
}

.playground-title {
    font-size: 24px;
}