<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CPNS</title>
    <link href="static/stylesheets/common.css" rel="stylesheet" />
    <link href="static/stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/lib/leaflet.css"/>
    <script src="static/lib/leaflet.js"></script>
</head>
<body>
    <header>
        <hgroup>
            <h1>Children Playground Navigation System</h1>
        </hgroup>
    </header>
    <nav>
        <ul>
            <li><a class="active" href="/map">Map</a></li>
            <li><a href="/playgrounds">Playgrounds</a></li>
            <li><a href="/sign-in">Sign in</a></li>
            <li><a href="/sign-up">Register</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
	<main>
		<div id="map"></div>
	</main>
    <!-- <section> -->
    <!--     <article> -->
    <!--         <header> -->
    <!--             <h1>Article #1</h1> -->
    <!--         </header> -->
    <!--         <section> -->
    <!--             This is the first article. -->
    <!--         </section> -->
    <!--     </article> -->
    <!--     <article> -->
    <!--         <header> -->
    <!--             <h1>Article #2</h1> -->
    <!--         </header> -->
    <!--         <section> -->
    <!--             This is the second article. -->
    <!--         </section> -->
    <!--     </article> -->
    <!-- </section> -->
    <!-- <aside> -->
    <!--     <section> -->
    <!--         <h1>Links</h1> -->
    <!--         <ul> -->
    <!--             <li><a href="#">Link 1</a></li> -->
    <!--             <li><a href="#">Link 2</a></li> -->
    <!--         </ul> -->
    <!--     </section> -->
    <!--     <figure> -->
    <!--         <img width="85" height="85" --> 
    <!--             src="http://domain.tld/path/to/image.jpg" --> 
    <!--             alt="foobar" /> -->
    <!--         <figcaption>Foobar</figcaption> -->
    <!--     </figure> -->
    <!-- </aside> -->
    <footer><a href="/about">About</a></footer>
    <script>
        async function addWalkingRoutes() {
            const walkingRoutes = await fetch('/static/peshehodna_mreja_26_sofpr_20200406.geojson').then((resp) => resp.json());
            const geoJSON = L.geoJSON(walkingRoutes, {
                weight: 2
            }).addTo(map);
        }
        async function addPlaygrounds() {
            const playgrounds = await fetch('/static/detski_ploshtadki_old_new_26_sofpr_20190418.geojson').then((resp) => resp.json());
            const icon = L.icon({
                iconUrl: 'static/lib/images/marker-icon.png',
                iconSize: [16, 24],
                iconAnchor: [22, 94],
                popupAnchor: [-3, -76],
                shadowUrl: 'static/lib/images/marker-shadow.png',
                shadowSize: [16, 24],
                shadowAnchor: [22, 94]
            });
            const geoJSON = L.geoJSON(playgrounds, {
                pointToLayer: function (feature, latlng) {
                    const marker = L.marker(latlng, { icon });
                    const popupContent = `
                        Площ: ${feature.properties.new_plost ?? feature.properties.plost_old ?? 'Неизвестна'}<br/>
                        Местоположение: ${feature.properties.new_mestopolozh ?? feature.properties.mestopolozh_old ?? 'Неизвестно'}<br/>
                        Номер: ${feature.properties.nobekt_new ?? feature.properties.nobekt_old ?? 'Неизвестен'}<br/>
                        Собственост: ${feature.properties.stopanin ?? 'Неизвестна'}<br/>
                    `;
                    marker.bindPopup(popupContent);
                    return marker;
                }
            }).addTo(map);
        }

        let map;
        async function initializeMap() {
            map = L.map('map', { preferCanvas: true, }).setView([42.698334, 23.319941], 14);

            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            await Promise.all([addWalkingRoutes(), addPlaygrounds()]);
        }
        initializeMap();
    </script>
</body>
</html>
