<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CPNS</title>
    <link rel="stylesheet" href="static/lib/fontawesome/css/all.min.css">
    <link href="static/stylesheets/common.css" rel="stylesheet" />
    <link href="static/stylesheets/playgrounds.css" rel="stylesheet" />
    <link href="static/stylesheets/carousel.css" rel="stylesheet" />
    <link href="static/stylesheets/rating.css" rel="stylesheet" />
    <link href="static/stylesheets/voting.css" rel="stylesheet" />
    <link href="static/stylesheets/reviews.css" rel="stylesheet" />
</head>
<body>
{{template "header" .}}
<main>
    <button>Add new Playground</button>
    {{ $map := .playgroundUserReviewMap }}
    {{ $innerMap := .reviewUserVoteMap }}
    {{range .playgrounds}}
        {{$userReview := index $map .ID}}
        {{template "playground" dict "Playground" . "UserReview" $userReview "reviewUserVoteMap" $innerMap }}
    {{end}}
</main>
<footer><a href="/about">About</a></footer>
<script src="static/scripts/playgrounds.js"></script>
</body>
</html>
