<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CPNS</title>
    <link href="static/stylesheets/common.css" rel="stylesheet" />
    <link href="static/stylesheets/register.css" rel="stylesheet" />
</head>
<body>
{{template "header" .}}
<main>
    <div id="container">
        <h2>Sign Up</h2>
        <form id="registerForm" action="/api/register" method="post">
            <input name="email" type="email" placeholder="Email address" required>
            <input name="username" type="username" placeholder="Username" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit"> Sign Up </button>
        </form>
        {{if .error}}
        <div class="error-message">{{.error}}</div>
        {{end}}
    </div>
</main>
<footer><a href="/about">About</a></footer>
<script>
</script>
</body>
</html>